*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Amazon Ember",Arial,sans-serif;
}
body{
    background-color: rgb(244, 243, 243);
}
.container1{
    background-color: rgb(255, 255, 255);
    padding: 20px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 30px rgb(227, 227, 227);

}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 100px;
}
.logo p{
    font-weight: 100;
}
.form-container{
    border: 1px solid rgba(152, 152, 152, 0.414);
    border-radius: 10px;
    padding: 25px;
    margin-top: 30px;
    width: 350px;
}
.form-container h1{
    font-weight: 100;
    font-size: 30px;
    
}
.form-container form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.form-container form label{
    font-weight: 800;
    font-size: 13px;
}
.form-container form input{
    margin: 2px 0 20px 0;
    height: 30px;
    padding-left: 5px;

}
.form-container form input:focus{
    outline-color: #5897ef;
    border: 1px solid #000;
}
.form-container form button{
    background-color: #FFD814;
    /* border-color: #FCD200; */
    border: none;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}
.form-container form button:hover{
    background-color: #e9c510;
}
.form-container .terms{
    margin-top: 20px;
}
.form-container .terms p{
    font-size: 12px;
}
.form-container .terms p a , .form-container .terms > div a{
    color: rgb(68, 109, 255);
    cursor: pointer;
    text-decoration: none;
}
.form-container .terms p a:hover , .form-container .terms > div a:hover{
    text-decoration: underline;
}
.form-container .terms > div{
    margin-top: 20px;
    font-size: 14px;
}
.form-container .terms > div input{
    margin: 0 3px;
}
.newacc{
    margin-top: 40px;
    /* border-top: 1px solid rgba(209, 209, 209, 0.8); */
}
.newacc h6{
    font-size: 12px;
    font-weight: 100;
    margin-top: -7px;
    text-align: center;
    color: rgb(111, 111, 111);
}
.newacc button{
    width: 100%;
    height: 30px;
    margin-top: 15px;
    background: transparent;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(182, 182, 182);
    cursor: pointer;
}
.footer-container{
    /* margin-top: 10px; */
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer-container > div{
    display: flex;
    gap: 30px;
}
.footer-container > div a{
    font-size: 12px;
    color: rgb(68, 109, 255);
    cursor: pointer;
    text-decoration: none;

}
.footer-container > div a:hover{
    text-decoration: underline;
}
.footer-container > p{
    margin-top: 10px;
    font-size: 12px;
    color: rgb(66, 66, 66);
}